<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
      <p>Team name:<input type="text" name="name"></p>
      <p>Coach:<input type="text" coach="string"></p>
      <p>Point Guard:<input type="text" pg="string"></p>
      <p>Shooting Guard:<input type="text" sg="string"></p>
      <p>Small Forward:<input type="text" pf="string"></p>
      <p>Power Forward:<input type="text" sf="string"></p>
      <p>Center:<input type="text" c="string"></p>
      <input id="submit">
       
 </body>
</html>


